{% extends "base.html" %}
{% block content %}

<h3>Register</h3>
{% if error %}
  <p class="notice">{{ error }}</p>
{% endif %}
<form method="post">
    <label>Username</label>
    <input type="text" name="username" placeholder="choose a username" autofocus required>

    <label>Password</label>
    <input type="password" name="password" placeholder="choose a password" required>

    <label>Confirm Password</label>
    <input type="password" name="confirm" placeholder="repeat password" required>

    <button class="btn">Register</button>
</form> 

{% endblock %}
